.content{
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formalize {
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.formalize input{
  margin: 0 15px;
  padding: 5px 10px;
  background-color: rgb(51, 51, 51);
  color: azure;
  border: 0;
  border-radius: 5px;
  display: block;
  outline: none;
}

.organized-container {
  min-height: 150px;
  width: 500px;
  padding: 15px 5px;
  margin: 20px 0;
  background-color: #444;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 8px solid rgba(110, 189, 32, 0.521);
  border-style: outset;
  border-radius: 25px;

}

.card-player{
  width: 300px;
  height: 50px;
  padding: 0 20px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(116, 116, 116);
  border: 0;
  border-radius: 25px;
}

.card-player p{
  margin: 0 auto;
}